* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

@font-face {
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
  font-family: "Open Sans";
}

.center {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #212343;
}

.header img {
  margin: 15px;
}

.container-banner {
  width: 100%;
  height: 557px;
  background-image: url("../img/header_bg.png");
  background-size: cover;
  background-position: center;
}

.container-banner .center {
  height: 100%;
}

.container-box-list{
  padding: 30px;
  margin-top: 40px;
  float: left;
  width: 619px;
  height: 270px;
  background-color: rgba(33, 35, 67, .7);
}

.container-box-list ul{
  list-style-position: inside;
}

.container-box-list ul li{
  margin-top: 25px;
  color: #fff;
}

.form {
  padding: 10px;
  width: 400px;
  height: calc(100% + 30px);
  float: right;
  position: relative;
  margin-top: -15px;
  border: 12px solid rgba(120, 120, 120, 0.5);
  background-clip: padding-box;
  background-color: #fff;
}

.form h2 {
  font-weight: normal;
  color: #999;
  font-size: 21px;
}

.input-container {
  margin-top: 20px;
}

.input-container span{
  display: inline-block;
  width: 100%;
  color: #888;
  font-size: 17px;
}

.input-container input[type=text],
input[type=email] {
  margin-top: 8px;
  width: 344px;
  height: 55px;
  border: 1px solid #8888;
}

form p{
  display: inline-block;
  width: 100%;
  color: #888;
  font-size: 17px;
  margin: 20px 0;
}

.input-submit-container{
  width: 100%;
  text-align: center;
}

.input-submit-container input[type=submit]{
  color: #fff;
  font-size: 25px;
  width: 280px;
  height: 56px;
  background-color: #363a6d;
  border: none;
  border-bottom: 5px solid #4a5097;
  cursor: pointer;
  transition: .3s ease-in;
}

.input-submit-container input[type=submit]:hover{
  background-color: #4a5097;
}

.container-second{
  padding: 40px 0;
  background-color: #ddd;
  text-align: center;
  color: rgb(95, 95, 95);
}

.container-second h2{
  font-weight: normal;
}

.container-second p{
  margin: 15px 0;
  display: inline-block;
  width: 698px;
  text-align: justify;
}

.arrow{
  position: relative;
  left: 50%;
  margin-left: -20px;
  top: 60px;
  width: 40px;
  height: 40px;
  background-image: url("../img/arrow.png");
  background-size: 100%;

}